<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img width="50" height="50" src="https://img.icons8.com/badges/48/blogger.png" alt="blogger"/>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                {% if isAuth() %}
                    <li><a href="/posts/create" class="nav-link px-2 text-white">Создать пост</a></li>
                    <li><a href="/dashboard" class="nav-link px-2 text-white">Мои посты</a></li>
                {% endif %}
            </ul>

            <div class="text-end">
                {% if isAuth() %}
                    <form action="/logout" method="post">
                        <button href="/logout" class="btn btn-danger">Выход</button>
                    </form>
                {% else %}
                    <a href="/login" class="btn btn-outline-light me-2">Логин</a>
                    <a href="/register" class="btn btn-warning">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

{% if session().hasFlash('success') %}
    <div class="alert alert-success text-center">
        {% for message in session().getFlash('success') %}
            <p class="m-0">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
