{% extends 'layouts/base.html.twig' %}

{% block main %}
    <h3 class="mb-5">Создать пост</h3>

    <form action="/posts" method="post">
        <div class="mb-3">
            <label for="title" class="form-label h3">Заголовок</label>
            {% include "components/post/title.html.twig" %}
        </div>
        <div class="mb-3">
            <label for="body" class="form-label h3">Контент</label>
            {% include "components/post/body.html.twig" %}
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Создать</button>
        </div>
    </form>
{% endblock %}