{% extends 'layouts/base.html.twig' %}

{% block main %}
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Заголовок поста 1</h5>
            <small>3 дня назад</small>
            </div>
            <p class="mb-1">Некоторый заполнитель в абзаце.</p>
            <small>Автор</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Заголовок поста 2</h5>
            <small>3 дня назад</small>
            </div>
            <p class="mb-1">Некоторый заполнитель в абзаце.</p>
            <small class="text-muted">Автор</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Заголовок поста 3</h5>
            <small>3 дня назад</small>
            </div>
            <p class="mb-1">Некоторый заполнитель в абзаце.</p>
            <small class="text-muted">Автор</small>
        </a>
    </div>
{% endblock %}