{% extends 'layouts/base.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        <h1>Post - {{ postId }}</h1>
        <p class="lead">Пример поста</p>
    </div>
{% endblock %}