{% extends 'layouts/base.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        <h1>Post - {{ post.title }}</h1>
        <p class="lead">{{ post.body }}</p>
    </div>
{% endblock %}